.btn-color {
    background-color:  #A4BC46;
    color: white;
    border: none;
    border-radius: 0.5rem;
}

.penguin-card {
    border: 0;
}

.penguin-card-footer {
    border: 0;
    background-color: white;
}